# This is my cool Pipeline

### Step 1: Import everything and load variables

In [50]:
import pyterrier as pt
import pandas as pd
import os

if not pt.started():
    pt.init(version='5.7', helper_version='0.0.7', no_download=True)

input_data = os.environ.get('TIRA_INPUT_DIRECTORY', None)

if input_data:
    input_data = input_data + '/rerank.jsonl'
    print(f'I will read the input data from {input_data}.')
else:
    print('I will use a small hardcoded example.')

output_file = os.environ.get('TIRA_OUTPUT_DIRECTORY', '/tmp/')

print(f'I will write the run file to {output_file}')

I will use a small hardcoded example.
I will write the run file to /tmp/

### Step 2: Load the data

In [51]:
df = pd.DataFrame([
    {'qid': 'q1', 'query': 'chemical reactions', 'docno': 'd1', 'text': 'professor protor poured the chemicals reaction'},
    {'qid': 'q1', 'query': 'chemical reactions', 'docno': 'd2', 'text': 'chemical brothers turned up the beats'}
])

if input_data:
    print(f'Read input data from {input_data}.')
    df = pd.read_json(input_data, lines=True)
    print(f'Done...')

df

,qid,query,docno,text
0,q1,chemical reactions,d1,professor protor poured the chemicals reaction
1,q1,chemical reactions,d2,chemical brothers turned up the beats

### Step 3: Define the actual retrieval appraoch

In [44]:
bm25_scorer = pt.text.scorer(body_attr="text", wmodel='BM25')

### Step 4: Run the pipeline

In [46]:
results = bm25_scorer(df)
results

18:43:29.314 [main] WARN org.terrier.querying.ApplyTermPipeline - The index has no termpipelines configuration, and no control configuration is found. Defaulting to global termpipelines configuration of 'Stopwords,PorterStemmer'. Set a termpipelines control to remove this warning.

,qid,docno,text,rank,score,query
0,q1,d1,professor protor poured the chemicals reaction,0,-2.220975,chemical reactions
1,q1,d2,chemical brothers turned up the beats,1,-2.432496,chemical reactions

### Step 5: Persist results